---
// import '@fontsource-variable/inter'
import './Baseline.scss'

interface Props {
  title: string
  description: string
  url: string
  noIndex?: boolean
}

const { title, description, url, noIndex } = Astro.props

// Some thoughts when I was looking through fonts on Next.js
// Choices: Inter / Open Sans / IBM Plex Sans / Libre Franklin / Lato / Noto Sans / Oxygen
// const switzer = localFont({ src: './Switzer-Variable.ttf' })
// const inter = Inter({
//   subsets: ['latin'],
//   weight: ['100', '200', '300', '400', '500', '600', '700'], // IBM Plex Sans
//   weight: ['100', '300', '400', '700', '900'], // Lato
//   weight: ['300', '400', '700'], // Oxygen
// })
// Some shades that could look good: Yellow, cyan, green, blue, purple, pink, violet, magenta
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:url' content={url} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content='https://github.com/retrixe.png' />
    <link rel='shortcut icon' type='image/png' href='https://github.com/retrixe.png' />
    <meta name='theme-color' content='#7FFFD4' />
    {/* Color: Aquamarine */}
    <meta name='Description' content={description} />
    {noIndex === true && <meta name='robots' content='noindex,nofollow' />}
    <style lang='scss' is:global>
      :root {
        --link-color: #8f00ff; /* Color: Was Bright pink (#ff007f), now Electric violet */
        --background-color: #eee;
        --color: #000000;
        --divider-color: #bbb;

        @media (prefers-color-scheme: dark) {
          color-scheme: dark;
          --link-color: #40e0d0; /* Color: Was Heliotrope (#df73ff), now Turquoise */
          --background-color: #111; /* Color: Was #333 */
          --color: #ffffff;
          --divider-color: #666;
        }
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
